[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "conf.d/astroid/plugins/astroid-plugin-avatar"]
	path = conf.d/astroid/plugins/astroid-plugin-avatar
	url = https://github.com/astroidmail/astroid-plugin-avatar.git
[submodule "conf.d/astroid/plugins/astroid-plugin-seccomp"]
	path = conf.d/astroid/plugins/astroid-plugin-seccomp
	url = https://github.com/astroidmail/astroid-plugin-seccomp.git
[submodule "conf.d/astroid/plugins/astroid-syntax-highlight"]
	path = conf.d/astroid/plugins/astroid-syntax-highlight
	url = https://github.com/astroidmail/astroid-syntax-highlight.git
[submodule "conf.d/astroid/plugins/astroid-plugin-hls-hsv-tagcolor"]
	path = conf.d/astroid/plugins/astroid-plugin-hls-hsv-tagcolor
	url = https://github.com/astroidmail/astroid-plugin-hls-hsv-tagcolor.git
[submodule "conf.d/qutebrowser/dracula"]
	path = conf.d/qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme.git
