#
# Ignore these files globally in this repo.
#

# log files
*.log

# oh-my-zsh
zsh/oh-my-zsh/custom/*

# vim backed up files
*~
/vim/vim/autoload
/vim/vim/plugged

# emacs files
/emacs/*\#*
ac-comphist.dat
/emacs/emacs.d/history
/emacs/emacs.d/custom.el
/emacs/emacs.d/SessionDesktop.el
/emacs/emacs.d/backups/*
/emacs/emacs.d/elpa/*
/emacs/emacs.d/ido.last
/emacs/emacs.d/network-security.data
/emacs/emacs.d/thumbs/*
/emacs/emacs.d/auto-save-list
/emacs/emacs.d/\#*

# .uuid files
.uuid
